@using Cartonization.Business
@model Cartonization.Web.Models.CartonizationViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Cartonization</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
    <div>
        <div class="col-sm-4">
            <h4>Products</h4>
            <table id="productsToPack" class="table table-striped">
                @foreach (Cartonization.Business.Product product in Model.ProductsToPack)
                {
                    <tr>
                        <td>
                            @string.Format("Id: {0}, Height {1}, Width: {2}, Length:{3}", product.ProductId, product.Height, product.Width, product.Length)
                        </td>
                        <td>
                            <input id="Product_@product.ProductId" type="button" value="Delete" onclick="deleteProduct(@product.ProductId)"/>
                        </td>
                    </tr>
                }
            </table>

            <div id="newProduct" class="form-group col-md-12">
                <div class="col-sm-3">
                    <label for="Length">Length</label><input class="form-control" type="text" id="Length"/>
                </div>
                <div class="col-sm-3">
                    <label for="Width">Width</label><input class="form-control" type="text" id="Width" />
                </div>
                <div class="col-sm-3">
                    <label for="Height">Height</label><input class="form-control" type="text" id="Height" />
                </div>
                <div class="col-sm-3">
                    <label></label><input type="button" value="Add Product" class="btn btn-default" onclick="addProduct($(this))" />
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <h4>Available Cartons</h4>
            <table id="AvailableCarton" class="table table-striped">
                @foreach (Cartonization.Business.Carton carton in Model.AvailableCartons)
                {
                    <tr>
                        <td>
                            @string.Format("Id: {0}, Height {1}, Width: {2}, Length:{3}", carton.Id, carton.Height, carton.Width, carton.Length)
                        </td>
                        <td class="pull-right">
                            <input id="Carton_@carton.Id" type="button" value="Delete" onclick="deleteCarton(@carton.Id)"/>
                        </td>
                    </tr>
                }
            </table>

            <div id="newCarton" class="form-group col-md-12">
                <div class="col-md-3">
                    <label for="Length">Length</label><input class="form-control" type="text" id="CartonLength" />
                </div>
                <div class="col-md-3">
                    <label for="Width">Width</label><input class="form-control" type="text" id="CartonWidth" />
                </div>
                <div class="col-md-3">
                    <label for="Height">Height</label><input class="form-control" type="text" id="CartonHeight" />
                </div>
                <div class="col-md-3">
                    <label></label><input type="button" value="Add Carton" class="btn btn-default" onclick="addCarton($(this))" />
                </div>
            </div>

        </div>
        <div class="col-sm-4" id="packerResponse">
            @{Html.RenderPartial("packerResponse", Model.Response);}
        </div>
    </div>
</div>

<script type="text/javascript">
    var deleteProduct = function (id)
    {
        $.ajax({
            url: '/Cartonization/delete/' + id,
            type: "DELETE",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("" + "#Product_" + id + "").parent().parent().remove();
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    var addProduct = function () {
        $.ajax({
            url: '/Cartonization/AddProduct',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                "Height": $("#Height").val(),
                "Length": $("#Length").val(),
                "Width": $("#Width").val()
            }),
            success: function (data) {
                $('#productsToPack').append("<tr><td>Id: " + data.ProductId + ", Height: " + data.Height + ", Width: " + data.Width + ", Length: " + data.Length + "</td><td><input id=Product_" + data.ProductId + " type='button' value='Delete' onclick='deleteProduct(" + data.ProductId + ")'/></td></tr>");
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    var addCarton = function (productElement) {
        $.ajax({
            url: '/Cartonization/AddCarton',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                "Height": $("#CartonHeight").val(),
                "Length": $("#CartonLength").val(),
                "Width": $("#CartonWidth").val()
            }),
            success: function (data) {
                $('#AvailableCarton').append("<tr><td>Id: " + data.Id + ", Height: " + data.Height + ", Width: " + data.Width + ", Length: " + data.Length + "</td><td><input id=Carton_" + data.Id + " type='button' value='Delete' onclick='deleteCarton(" + data.Id + ")'/></td></tr>");
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    var deleteCarton = function (id) {
        $.ajax({
            url: '/Cartonization/deleteCarton/' + id,
            type: "DELETE",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $("" + "#Carton_" + id + "").parent().parent().remove();
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    var packCarton = function () {
        $.ajax({
            url: '/Cartonization/Pack',
            type: "Get",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#packerResponse').html(data);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

</script>

